---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import PageSection from '../components/PageSection.astro';
import FaqItem from '../components/FaqItem.astro';
import Button from '../components/Button.astro';
import { Icon } from 'astro-icon';
import { parseISO, format } from 'date-fns';

const resp = await fetch('https://api.github.com/repos/jaames/playnote-studio/releases');
const releaseData = await resp.json();

const latestRelease = releaseData[0];
const version = latestRelease.tag_name;
const timestamp = format(parseISO(latestRelease.published_at), 'MMMM y');
---
<BaseLayout>
  <Hero/>

  <PageSection title="Features" titleTilt="-2" anchor="features">
    <div class="FeatureGrid">
      <div class="FeatureGrid__item">
        <img class="FeatureGrid__itemImage screenshot" src="/assets/movie_playback.gif" alt="">
        <div class="FeatureGrid__itemText">
          <div class="FeatureGrid__itemTextInner">
            Smoothly plays any animation made in the DSiWare version of Flipnote Studio
          </div>
        </div>
      </div>
      <div class="FeatureGrid__item">
        <img class="FeatureGrid__itemImage screenshot" src="/assets/movie_dither.gif" alt="">
        <div class="FeatureGrid__itemText">
          <div class="FeatureGrid__itemTextInner">
            Customisable dithering makes up for the lack of colour on the Playdate's black and white screen
          </div>
        </div>
      </div>
      <div class="FeatureGrid__item">
        <img class="FeatureGrid__itemImage screenshot" src="/assets/movie_lang.gif" alt="">
        <div class="FeatureGrid__itemText">
          <div class="FeatureGrid__itemTextInner">
            Available in English, Japanese, French, Spanish, German, Italian, Dutch, Polish, Russian, and Welsh
          </div>
        </div>
      </div>
    </div>
  </PageSection>

  <PageSection title="Latest Release" titleTilt="2" anchor="download">
    <div class="Releases">
      <div class="Download">
        <h3 class="Download__title">Playnote.pdx</h3>
        <div class="Download__desc">
          Includes 24 sample animations kindly provided by Flipnote artists such as Kéké, mrjohn, ぺきら, and more!
        </div>
        <div class="Download__info">
          <div class="Download__infoItem">{version}</div>
          <div class="Download__infoItem">16.8 MB</div>
          <div class="Download__infoItem">{timestamp}</div>
        </div>
        <div class="Download__stats">
          <div class="Download__statItem">
            <Icon class="Download__statIcon" name="icon_hint"/>
            <span class="Download__statText">
              Install this app by <a href="https://help.play.date/games/sideloading/">sideloading</a> it
            </span>
          </div>
          <div class="Download__statItem">
            <Icon class="Download__statIcon" name="icon_rating"/>
            <span class="Download__statText">
              Suitable for all ages
            </span>
          </div>
          <div class="Download__statItem">
            <Icon class="Download__statIcon" name="icon_accessibility"/>
            <span class="Download__statText">
              The D-Pad is used for navigation. The crank can be used to scroll pages and turn through animation frames, but this is optional.
            </span>
          </div>
        </div>
        <div class="Download__button">
          <Button type="inverted" href="https://github.com/jaames/playnote-studio/releases/latest/download/Playnote.pdx.zip">↓&nbsp;Download</Button>
        </div>
      </div>
      <div class="Btw">
        <div class="Btw__card">
          <div class="Btw__cardInner">
            <p class="Btw__desc">
              You can also add your own Flipnotes by dropping them onto your Playdate's storage!
            </p>
            <div class="Btw__button">
              <Button href="/filehelp">Learn more →</Button>
            </div>
          </div>
        </div>
      </div>
      <div class="Releases__past">
        <a href="/releases">Past Releases &amp; Changelog ↳</a>
      </div>
    </div>
  </PageSection>

  <PageSection title="Questions & Answers" titleTilt="-1" anchor="faq">
    <FaqItem>
      <p slot="question">
        What is Flipnote Studio? What are Flipnotes?
      </p>
      <p slot="answer">
        <a href="https://www.nintendo.co.uk/Games/Nintendo-DSiWare/Flipnote-Studio-263126.html">Flipnote&nbsp;Studio</a> is an app for the Nintendo&nbsp;DSi game console where users can create flipbook-style animations with the touch screen, microphone, and cameras. These animations are called <b>Flipnotes</b>.
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Who built this?
      </p>
      <p slot="answer">
        That would be me, <a href="https://twitter.com/rakujira">James</a>! But this wouldn't have been possible without a whole *bunch* of favours from very cool friends and members of the Flipnote and Playdate communities, you can find all of their names in the <a href="#credits">credits</a>!
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Why make a Flipnote player for the Playdate?
      </p>
      <p slot="answer">
        Little else has single-handedly fueled my penchant for making things quite as much as Flipnote&nbsp;Studio. In a roundabout way it was influencial in pushing me towards a creative career, so this app is a love-letter to a weird little animation tool that inspired me and many others.
        <br/>
        <br/>
        It also just so happens that using the Playdate's crank to scroll through one of <a href="https://twitter.com/Kekeflipnote">Kéké's</a> animations is pretty fun!
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Can this app create Flipnotes?
      </p>
      <p slot="answer">
        It can't, sorry! The Playdate doesn't have a touchscreen, so I came to the conclusion that trying to create detailed animations on it wouldn't be very fun. However, Dustin Mierau's <a href="https://play.date/games/playmaker/">Playmaker</a> might be up your alley!
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Can I watch Flipnotes without a Playdate or Nintendo&nbsp;DSi?
      </p>
      <p slot="answer">
        Yes! I previously built a free <a href="https://flipnote.rakujira.jp/">web-based Flipnote player</a> which can play animation files from both Flipnote&nbsp;Studio and Flipnote&nbsp;Studio&nbsp;3D. There's also fan-made communities like <a href="https://www.sudomemo.net">Sudomemo</a> where people are still actively posting Flipnotes!
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Why aren't Flipnote&nbsp;Studio&nbsp;3D animations supported?
      </p>
      <p slot="answer">
        Flipnote&nbsp;Studio&nbsp;3D - the Nintendo&nbsp;3DS sequel to Flipnote&nbsp;Studio - uses a much more complex animation format compared to the original DSiWare version. I had to pull out a lot of tricks just to get DSi Flipnotes running smoothly on the Playdate, and I feel that the 3DS format might be too complex.
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Why isn't the Playdate Simulator supported?
      </p>
      <p slot="answer">
        The Flipnote parsing and playback timing code is written in C, which needs to be compiled specifically for whatever platform the Playdate Simulator is running on. I decided to avoid that for now in the interest of saving space!
      </p>
    </FaqItem>
    <FaqItem>
      <p slot="question">
        Will there be any updates?
      </p>
      <p slot="answer">
        Maybe! You should follow me on <a href="https://twitter.com/rakujira">Twitter</a> to keep up to date!
      </p>
    </FaqItem>
  </PageSection>

  <PageSection title="Credits" titleTilt="2" anchor="credits">
    <div class="Credits">
      <div class="CreditsColumn CreditsColumn--one">
        <h5 class="CreditsTitle">Programming and UI Design</h5>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://twitter.com/rakujira">James Daniel</a>
        </div>
      
        <h5 class="CreditsTitle">Flipnote Decoding Library</h5>
        <div class="CreditsEntry CreditsEntry--nogrid">
          Based on PPMLib by <a class="CreditsEntry__name" href="https://twitter.com/itssimontime">Simon Aarons</a>
        </div>

        <h5 class="CreditsTitle">Sound & Music</h5>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Sound Design</span>
          <a class="CreditsEntry__name" href="https://NewtonsDarkRoom.com">Talon Stradley</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Credits Beat</span>
          <a class="CreditsEntry__name" href="https://madwurmz.com">madwurmz</a>
        </div>
      </div>

      <div class="CreditsColumn CreditsColumn--two">
        <h5 class="CreditsTitle">Flipnote Artists</h5>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://twitter.com/Kekeflipnote">Kéké</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://flipnot.es/9F990EE00074AC4D">mrjohn</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://www.instagram.com/gsupnet_">bokeh f/2 ("who cares")</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://twitter.com/pekira1227">ぺきら ("pekira")</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://beeyt.carrd.co/">Bee</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://www.instagram.com/akemixes">Melaina King ("Akemi")</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://www.sudomemo.net/user/5907142059918D1F@DSi">Scarecrow</a>
        </div>

        <h5 class="CreditsTitle">Special Thanks</h5>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://twitter.com/gingerbeardman">Matt Sephton</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://kaeru.world">Kaeru Team</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://www.sudomemo.net">Rob</a>
        </div>
        <div class="CreditsEntry">
          <a class="CreditsEntry__name" href="https://twitter.com/AustinSudomemo">Austin Burk</a>
        </div>
      </div>

      <div class="CreditsColumn CreditsColumn--three">
        <h5 class="CreditsTitle">Translation</h5>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">日本語</span>
          <a class="CreditsEntry__name" href="http://ryusite.cyber-ninja.jp/">RYU-N</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Français</span>
          <a class="CreditsEntry__name" href="https://www.evalauren.co.uk">Eva Lauren Kelly ("thejsa")</a>
          <a class="CreditsEntry__name" href="https://twitter.com/thomasnet_mc">thomasnet</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Español</span>
          <a class="CreditsEntry__name" href="https://github.com/meemo">Meemo</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Deutsch</span>
          <a class="CreditsEntry__name" href="https://twitter.com/zothynine">Mario Zoth</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Italiano</span>
          <a class="CreditsEntry__name" href="https://www.finecurry.newgrounds.com">Curren French</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Nederlands</span>
          <a class="CreditsEntry__name" href="https://twitter.com/therealprocyon">Célistine Oosting</a>
          <a class="CreditsEntry__name" href="https://kaasiand.cool">Daniël van Melle</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Polski</span>
          <a class="CreditsEntry__name" href="https://twitter.com/twarda8">Twarda</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Русский</span>
          <a class="CreditsEntry__name" href="https://youtube.com/channel/UCbyMzNGlTGHxLRlShJDoD3Q">Denis Chernesov ("Kashey")</a>
          <a class="CreditsEntry__name" href="https://youtube.com/channel/UCbyMzNGlTGHxLRlShJDoD3Q">Alina Smirnova ("\m/eerkat")</a>
        </div>
        <div class="CreditsEntry">
          <span class="CreditsEntry__title">Cymraeg</span>
          <a class="CreditsEntry__name" href="https://www.evalauren.co.uk">Eva Lauren Kelly ("thejsa")</a>
        </div>
      </div>
      <div class="CreditsColumn CreditsColumn--legal">
        <p>Flipnote&nbsp;Studio is &copy; Nintendo. This project isn't affiliated with or endorsed by them.</p>
        <p>Playdate is a registered trademark of Panic.</p>
      </div>
    </div>
  </PageSection>
</BaseLayout>

<style lang="scss"> 

  :global(#features) {
    max-width: 100%;
  }

  .FeatureGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint-desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .FeatureGrid__item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }

  .FeatureGrid__itemImage {
    border-radius: 4px;
    
    @include breakpoint-desktop {
      image-rendering: auto;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
    }
  }

  .FeatureGrid__itemText {
    flex: 1;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    font-weight: 700;
    border-radius: 18px;
    margin: 8px;
    margin-top: -8px;
    padding: 24px;
    // z-index: -2;
    transform: rotate(1deg);
    .FeatureGrid__itemTextInner {
      transform: rotate(-1deg);
    }
  }

  .FeatureGrid__item:nth-child(2) .FeatureGrid__itemText {
    transform: rotate(-1deg);
    .FeatureGrid__itemTextInner {
      transform: rotate(1deg);
    }
  }

  .FeatureGrid__item:nth-child(3) .FeatureGrid__itemText {
    transform: rotate(.5deg);
    .FeatureGrid__itemTextInner {
      transform: rotate(-.5deg);
    }
  }

  .Releases {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 20px;

    @include breakpoint-tablet {
      grid-template-columns: 7.9fr 4.1fr;
    }
  }

  .Download {
    background: var(--color-bg-accent);
    color: var(--color-text-accent);
    border-radius: 18px;
    padding: 34px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 20px;

    @include breakpoint-tablet {
      grid-template-columns: min-content 1fr;
    }
  }

  .Download__title {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;

    @include breakpoint-tablet {
      margin: 0;
    }
  }

  .Download__desc {
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .Download__info {
    font-size: var(--font-size-small);
    display: flex;
    margin-bottom: .5em;
    
    > * {
      margin-right: .5em;
    }

    @include breakpoint-tablet {
      display: block;
      margin-bottom: 0;

      > * {
        margin-right: 0;
      }
    }
  }

  .Download__infoItem {
    margin-bottom: .25em;
  }

  .Download__statItem {
    margin-bottom: .25em;
    display: flex;
    align-items: flex-start;
  }

  .Download__statIcon {
    width: 1em;
    min-width: 1em;
    margin-right: .5em;
  }

  .Download__statText {

  }

  .Download__button {
    padding: 0;
    margin-top: 1rem;

    @include breakpoint-desktop {
      margin: 0;
    }
  }

  .Download__stats {
    grid-row: span 2;
    font-size: var(--font-size-small);
  }

  .Btw {
    padding: 24px;
  }

  .Btw__card {
    @include punchcard;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    font-weight: 700;
    border-radius: 18px;
    padding: 32px;
    padding-bottom: 24px;
    transform: rotate(1deg);
  }

  .Btw__cardInner {
    transform: rotate(-1deg);
  }

  .Btw__desc {
    // padding-bottom: 1rem;
    margin-top: .5rem;
  }

  .Btw__button {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .Releases__past {
    color: var(--color-text-accent);
    text-align: right;

    @include breakpoint-tablet {
      margin-top: -1.5em;
      grid-column: span 2;
      font-size: var(--font-size-smaller);
    }
  }

  .Credits {
    font-size: var(--font-size-smaller);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 1rem;

    @include breakpoint-tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2;
    }
  }

  .CreditsColumn--one {

  }

  .CreditsColumn--two {
    grid-row: span 2;
  }

  .CreditsColumn--three {
    grid-row: span 2;
  }

  .CreditsColumn--legal {
    color: #7A7A7F;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 2rem;

    @include breakpoint-tablet {
      margin: 0;
    }

    p {
      margin-bottom: 1em;
    }

    p:last-of-type {
      margin: 0;
    }

  }

  .CreditsTitle {
    font-size: 1rem;
    color: var(--color-text-accent);
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: .25rem;

    @include breakpoint-tablet {
      margin-top: 0;
      * + & {
        margin-top: 1rem;
      }
    }
  }

  .CreditsEntry {
    font-size: var(--font-size-smaller);
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .CreditsEntry + .CreditsEntry {
    margin-top: .2rem;
  }

  .CreditsEntry--nogrid {
    display: block;
  }

  .CreditsEntry__title {
  }

  .CreditsEntry__name {
    grid-column: span 2;
  }

  .CreditsEntry__title ~ .CreditsEntry__name {
    // color: $color-text-alt;
    grid-column: 2 / span 1;
  }

</style>