---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Panel from '../components/Panel.astro';
import CreditsGroup from '../components/CreditsGroup.astro';
import CreditsColumn from '../components/CreditsColumn.astro';
import CreditsPerson from '../components/CreditsPerson.astro';
---
<BaseLayout>
  <Hero/>
  <section class="Section IntroSection">
    <div class="Section__body">
      <Panel>
        <p>
          <a href="https://www.nintendo.co.uk/Games/Nintendo-DSiWare/Flipnote-Studio-263126.html">Flipnote&nbsp;Studio</a> was an app for the Nintendo&nbsp;DSi where users could create flipbook-style animations (called "Flipnotes") using the console's touch screen, microphone, and cameras
        </p>
        <p>
          Playnote&nbsp;Studio lets you view these Flipnotes on the Playdate, the nifty yellow handheld gaming console by Panic.
          All you have to do is drop them onto your Playdate's storage!
        </p>
      </Panel>
    </div>
  </section>
  
  <section class="Section FeaturesSection" id="features">
    <h3 class="Section__title">Features</h3>
    <div class="Section__body">
      <div class="FeatureGrid">
        <div class="FeatureGrid__item">
          <img class="FeatureGrid__itemImage screenshot" src="/assets/movie_playback.gif" alt="">
          <p class="FeatureGrid__itemText">
            Bundled with 24 animations kindly provided by some of the best Flipnote artists in the community!
          </p>
          <sub>(this one is by <a href="https://twitter.com/Kekeflipnote">kéké</a>)</sub>
        </div>
        <div class="FeatureGrid__item">
          <img class="FeatureGrid__itemImage screenshot" src="/assets/movie_dither.gif" alt="">
          <p class="FeatureGrid__itemText">
            Customisable dithering makes up for the lack of colour on the Playdate's black-and-white screen!
          </p>
        </div>
        <div class="FeatureGrid__item">
          <img class="FeatureGrid__itemImage screenshot" src="/assets/movie_lang.gif" alt="">
          <p class="FeatureGrid__itemText">
            Available in English, Japanese, French, Spanish, German, Italian, Dutch, Polish, Russian, and Welsh!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="Section DownloadSection" id="download">
    <h3 class="Section__title">Download</h3>
    <div class="Section__body">
      <div class="Card DownloadCard">
        <h4>Playnote Studio <sub>v1.0.0</sub></h4>
        <p>
          Size 17.6 MB
          Includes a selection of 24 sample Flipnotes from Kéké, mrjohn, ぺきら (Pekira), Bee, Who Cares (bokeh f/2), Akemi, and Scarecrow
        </p>
      </div>
    </div>
  </section>

  <section class="Section FaqSection" id="faqs">
    <h3 class="Section__title">FAQ</h3>
    <div class="Section__body">
      <Panel>
        <div class="FaqList">
          <div class="FaqList__item">
            <h4 class="FaqList__question">
              Who built this?
            </h4>
            <p class="FaqList__answer">
              That would be me, <a href="https://twitter.com/rakujira">James</a>! But this wouldn't have been remotely possible without a whole *bunch* of favours from very cool friends and members of the Flipnote community, you can find all of their names in the credits towards the end of this page.
            </p>
          </div>
          <div class="FaqList__item">
            <h4 class="FaqList__question">
              Why make a Flipnote player for the Playdate?
            </h4>
            <p class="FaqList__answer">
              Little else has single-handedly fueled my penchant for making things quite as much as Flipnote&nbsp;Studio. It's left a lasting impact on me and in a roundabout way was influencial in pushing me towards a creative career, so this app is a love-letter to a weird little animation tool and community that I and many others appreciate very much.
              It also just kinda happens that using the Playdate's crank to scroll through one of <a href="https://twitter.com/Kekeflipnote">Kéké's</a> animations is pretty fun!
            </p>
          </div>
          <div class="FaqList__item">
            <h4 class="FaqList__question">
              Can this app create Flipnotes?
            </h4>
            <p class="FaqList__answer">
              It can't, sorry! The Playdate doesn't have a touchscreen, so I came to the conclusion that trying to create detailed animations on it would be overly finicky, and I consider it beyond the scope of this project. That doesn't mean I'm not working on something else along those lines for the distant future, although if you want to make art on the Playdate you should keep an eye out for Dustin Mierau's <a href="https://twitter.com/dmierau/status/1372321742828412936">Playmaker</a>!
            </p>
          </div>
          <div class="FaqList__item">
            <h4 class="FaqList__question">
              Is there a way to play Flipnotes without a Playdate or Nintendo&nbsp;DSi?
            </h4>
            <p class="FaqList__answer">
              Yes! I previously built a free <a href="https://flipnote.rakujira.jp/">web-based Flipnote player</a> which can play animation files from both the DSiWare version of Flipnote&nbsp;Studio and Flipnote&nbsp;Studio&nbsp;3D.
            </p>
          </div>
          <div class="FaqList__item">
            <h4 class="FaqList__question">
              Why aren't Flipnote&nbsp;Studio&nbsp;3D animations supported?
            </h4>
            <p class="FaqList__answer">
              Flipnote&nbsp;Studio&nbsp;3D - the Nintendo&nbsp;3DS sequel to Flipnote&nbsp;Studio - uses a much more complex animation format compared to the original DSiWare version. I had to pull out a lot of tricks to get DSi Flipnotes running smoothly on the Playdate, and I have some ideas for getting the 3DS format to that point, but I'm saving that challenge for another day.
            </p>
          </div>
          <div class="FaqList__item">
            <h4 class="FaqList__question">
              Will there be any updates?
            </h4>
            <p class="FaqList__answer">
              I would like to keep adding new features as the Playdate develops, but it depends on how many people use the app. You should follow me on <a href="https://twitter.com/rakujira">Twitter</a> to keep up to (play)date!
            </p>
          </div>
        </div>
      </Panel>
    </div>
  </section>

  <section class="Section CreditsSection" id="credits">
    <h3 class="Section__title">Credits</h3>
    <div class="Section__body">
      <Panel>
        <CreditsGroup title="Programming and UI Design">
          <CreditsPerson name="James Daniel" links={[{ url:'https://twitter.com/rakujira', label: 'Twitter' }, { url:'https://github.com/jaames', label: 'GitHub' }]}/>
        </CreditsGroup>
        <CreditsGroup title="Flipnote Parser">
          <CreditsPerson name="Simon Aarons" links={[{ url:'https://twitter.com/itssimontime', label: 'Twitter' }, { url:'https://github.com/simontime', label: 'GitHub' }]}/>
        </CreditsGroup>
        <CreditsGroup title="Sound & Music">
          <CreditsColumn title="Sound Design">
            <CreditsPerson name="Talon Stradley" links={[{ url:'https://NewtonsDarkRoom.com', label: 'NewtonsDarkRoom.com' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Credits Beat">
            <CreditsPerson name="Talon Stradley" name="madwurmz" links={[{ url:'https://madwurmz.com', label: 'madwurmz.com' }, { url:'https://soundcloud.com/madwurmz', label: 'SoundCloud' }]}/>
          </CreditsColumn>
        </CreditsGroup>
        <CreditsGroup title="Translation">
          <CreditsColumn title="Español">
            <CreditsPerson name="Meemo" links={[{ url: 'https://github.com/meemo', label: 'GitHub' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Deutsch">
            <CreditsPerson name="Mario Zoth" links={[{ url: 'https://twitter.com/zothynine', label: 'Twitter' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Italiano">
             <CreditsPerson name="Curren French" links={[{ url: 'https://www.finecurry.newgrounds.com', label: 'NewGrounds' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Polski">
            <CreditsPerson name="Twarda" links={[{ url: 'https://twitter.com/twarda8', label: 'Twitter' }, { url: 'https://www.artstation.com/twarda', label: 'ArtStation' }]}/>
          </CreditsColumn>
           <CreditsColumn title="Français">
            <CreditsPerson name="Eva Lauren Kelly (thejsa)" links={[{ url:'https://www.evalauren.co.uk', label: 'evalauren.co.uk' }, { url: 'https://twitter.com/thejsa', label: 'Twitter' }]}/>
            <CreditsPerson name="thomasnet" links={[{ url:'https://twitter.com/thomasnet_mc_', label: 'Twitter' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Nederlands">
            <CreditsPerson name="Célistine Oosting" links={[{ url: 'https://twitter.com/therealprocyon', label: 'Twitter' }, { url: 'https://github.com/therealprocyon', label: 'GitHub' }]}/>
            <CreditsPerson name="Daniël van Melle" links={[{ url: 'https://kaasiand.cool', label: 'kaasiand.cool' }, { url: 'https://twitter.com/kaasIand', label: 'Twitter' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Русский">
            <CreditsPerson name={['Denis (Kashey) Chernesov', 'Alina (\m/eerkat) Smirnova']} links={[{ url: 'https://youtube.com/channel/UCbyMzNGlTGHxLRlShJDoD3Q', label: 'YouTube' }]}/>
          </CreditsColumn>
          <CreditsColumn title="Cymraeg">
            <CreditsPerson name="Eva Lauren Kelly (thejsa)" links={[{ url:'https://www.evalauren.co.uk', label: 'evalauren.co.uk' }, { url: 'https://twitter.com/thejsa', label: 'Twitter' }]}/>
          </CreditsColumn>
        </CreditsGroup>
        <CreditsGroup title="Special Thanks">
          <CreditsPerson name="Matt Sephton" links={[{ url:'https://twitter.com/gingerbeardman', label: 'Twitter' }]}/>
          <CreditsPerson name="Kaeru Team" links={[{ url:'https://twitter.com/kaeru.world', label: 'kaeru.world' }]}/>
          <CreditsPerson name="Rob" links={[{ url:'https://www.sudomemo.net', label: 'sudomemo.net' }]}/>
          <CreditsPerson name="Austin Burk" links={[{ url:'https://twitter.com/AustinSudomemo', label: 'Twitter' }]}/>
        </CreditsGroup>
        <CreditsGroup title="Flipnote Artists">
          <CreditsPerson name="Kéké" links={[{ url:'https://twitter.com/Kekeflipnote', label: 'Twitter' }, { url:'https://k-eke.tumblr.com"', label: 'Tumblr' }, { url:'https://www.patreon.com/k_eke', label: 'Patreon' }]}/>
          <CreditsPerson name="MrJohn" links={[{ url:'https://flipnot.es/9F990EE00074AC4D', label: 'Sudomemo' }]}/>
          <CreditsPerson name="bokeh f/2 (who cares)" links={[{ url:'https://www.instagram.com/gsupnet_', label: 'Instagram' }]}/>
          <CreditsPerson name="ぺきら (pekira)" links={[{ url:'https://twitter.com/pekira1227', label: 'Twitter' }]}/>
          <CreditsPerson name="Bee" links={[{ url:'https://beeyt.carrd.co/', label: 'Carrd' }]}/>
          <CreditsPerson name="Akemi" links={[{ url:'https://www.instagram.com/akemixes', label: 'Instagram' }]}/>
          <CreditsPerson name="Scarecrow" links={[{ url:'https://www.sudomemo.net/user/5907142059918D1F@DSi', label: 'Sudomemo' }]}/>
        </CreditsGroup>
      </Panel>
    </div>
  </section>
</BaseLayout>

<style lang="scss">

  .Section {
    @include wrapper;

    a {
      font-weight: bold;
    }
  }

  .Section--narrow {
    max-width: 608px;
    
  }

  .Section__title {
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
 
  .Section--features {
   max-width: 1272px
    
  }

  .FeatureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }

  .FeatureGrid__item {
    max-width: 400px;
  }

  .FaqList__question {
    margin-bottom: .25rem;
  }

  .FaqList__item {
    margin-bottom: 1.25rem;
  }

  .FaqList__item:last-child {
    margin-bottom: 0;
  }

</style>