---
import '../styles/global.scss';

import Hero from '../components/Hero.astro';
import PreactCounter from '../components/PlaydatePlayer.tsx';

let title = 'Playnote Studio';
let desc = 'An unofficial Flipnote animation player for the Panic Playdate console!';
let websiteUrl = '';
let imageUrl = '';
let faviconUrl = '';
let imageWidth = '';
let imageHeight = '';
let imageAlt = '';
let twitterHandle = '@rakujira';

let locale = 'en';
// let altLocales = ['en', 'jp'].map((locale) => <meta property="og:locale" content={locale}>);

---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>{ title }</title>
  <meta name="description" content={ desc }/>
  <!-- facebook opengraph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content={ websiteUrl }>
  <meta property="og:title" content={ title }>
  <meta property="og:description" content={ desc }>
  <meta property="og:image" content={ imageUrl }>
  <meta property="og:image:width" content={ imageWidth }>
  <meta property="og:image:height" content={ imageHeight }>
  <meta property="og:image:alt" content={ imageAlt }>
  <meta property="og:site_name" content={ title }>
  <meta property="og:locale" content={locale}>
  <!-- {altLocales} -->
  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content={ twitterHandle }>
  <meta name="twitter:url" content={ websiteUrl }>
  <meta name="twitter:title" content={ title }>
  <meta name="twitter:description" content={ desc }>
  <meta name="twitter:image" content={ imageUrl }>
  <meta name="twitter:image:width" content={ imageWidth }>
  <meta name="twitter:image:height" content={ imageHeight }>
  <meta name="twitter:image:alt" content={ imageAlt }>
  <!-- misc -->
  <link rel="shortcut icon" href={ faviconUrl } type="image/png">
  <meta name="format-detection" content="telephone=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <!-- <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}> -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Lora&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href={Astro.resolve('')}> -->
</head>
<body>
  <main class="Content">
    <PreactCounter client:only/>
    <Hero/>
    <div class="Downloads">
      <div class="DownloadGrid">
        <div class="DownloadGrid__item">
          <div class="DownloadCard">one</div>
        </div>
        <div class="DownloadGrid__item">
          <div class="DownloadCard">two</div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>

<style lang="scss">
  .Downloads {
    @include wrapper;
  }

  .DownloadGrid {
    @include grid-column-offset-left(1, 12);
    @include grid-column-offset-right(1, 12);
    @include grid-row();
  }

  .DownloadGrid__item {
    @include grid-column(1, 2);
  }

  .DownloadCard {
    
  }
</style>