@font-face {
  font-family: 'PPMori';
  font-weight: 200;
  font-style: normal;
  src: url(/assets/fonts/PPMori-Extralight.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 300;
  font-style: normal;
  src: url(/assets/fonts/PPMori-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 400;
  font-style: normal;
  src: url(/assets/fonts/PPMori-Book.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/PPMori-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 600;
  font-style: normal;
  src: url(/assets/fonts/PPMori-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/PPMori-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 800;
  font-style: normal;
  src: url(/assets/fonts/PPMori-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'PPMori';
  font-weight: 900;
  font-style: normal;
  src: url(/assets/fonts/PPMori-ExtraBold.ttf) format('truetype');
}