---
import '../styles/global.scss';
import { Icon } from 'astro-icon';

let title = 'Playnote Studio';
let desc = 'An unofficial Flipnote Studio animation player for the Panic Playdate game console';
let websiteUrl = 'https://playnote.studio';
let faviconUrl = '';
let imageUrl = 'https://playnote.studio/assets/social_preview.png';
let imageWidth = '800';
let imageHeight = '418';
let imageAlt = 'A Flipnote being played on a Panic Playdate game console';
let twitterHandle = '@rakujira';

let locale = 'en';
---
<html lang={ locale }>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{ title }</title>
    <meta name="description" content={ desc }/>
    <!-- facebook opengraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={ websiteUrl }>
    <meta property="og:title" content={ title }>
    <meta property="og:description" content={ desc }>
    <meta property="og:image" content={ imageUrl }>
    <meta property="og:image:width" content={ imageWidth }>
    <meta property="og:image:height" content={ imageHeight }>
    <meta property="og:image:alt" content={ imageAlt }>
    <meta property="og:site_name" content={ title }>
    <meta property="og:locale" content={ locale }>
    <!-- {altLocales} -->
    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content={ twitterHandle }>
    <meta name="twitter:url" content={ websiteUrl }>
    <meta name="twitter:title" content={ title }>
    <meta name="twitter:description" content={ desc }>
    <meta name="twitter:image" content={ imageUrl }>
    <meta name="twitter:image:width" content={ imageWidth }>
    <meta name="twitter:image:height" content={ imageHeight }>
    <meta name="twitter:image:alt" content={ imageAlt }>
    <!-- misc -->
    <link rel="shortcut icon" href={ faviconUrl } type="image/png">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800" rel="stylesheet"> -->
  </head>
  <body>
    <main class="Content">
      <slot/>
    </main>
    <footer class="Footer">
      <div class="Footer__body">
        <div class="Footer__group Footer__group--left">
          <a class="Footer__item Footer__item--title" href="/">Playnote Studio</a>
          <a class="Footer__item" href="/filehelp">How to Load Flipnote Files</a>
        </div>
        <div class="Footer__group Footer__group--middle">
          <Icon class="Footer__gfx" name="icon_footer"></Icon>
        </div>
        <div class="Footer__group Footer__group--right">
          <a class="Footer__item" href="/releases">Past Releases &amp; Changelog</a>
          <a class="Footer__item" href="https://github.com/jaames/playnote-studio">Source Code on GitHub</a>
        </div>
      </div>
    </footer>
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "19224d7a1dc44932ab159e5f8466b712"}'></script>
  </body>
</html>

<style lang="scss">
  .Footer {
    background: #FFEBCA;
    color: #FF8212;
    padding: 32px;
    margin-top: 80px;
    font-size: var(--font-size-smaller);
  }

  .Footer__body {
    @include wrapper;
    display: flex;
  }

  .Footer__gfx {
    max-width: 180px;
  }

  .Footer__group {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .Footer__group--left {
    justify-content: flex-start;
  }

  .Footer__group--middle {
    flex: initial;
    min-width: 200px;
    align-self: center;
    justify-content: center;
  }

  .Footer__group--right {
    justify-content: flex-end;
  }

  .Footer__item + .Footer__item {
    margin-left: 1.25rem;
  }

  .Footer__item--title {
    font-weight: 900;
  }
</style>