@import './parts/reset';

html, body {
  font-family: $font-stack-global;
  font-size: $font-size-global;
  letter-spacing: 0.02em;
  line-height: $line-height-global;
  font-weight: $font-weight-global;
  color: $color-text;
  background: $color-bg;
  background-image: url('data:image/svg+xml;charset=utf8,\
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">\
      <rect x="0" y="0" width="33" height="33" fill="white" stroke-width="1" stroke-dashoffset="2" stroke-dasharray="4 4" stroke="%23B5C1CE"/>\
    </svg>\
  ');
  background-position: center top;
  background-repeat: repeat;
  scroll-behavior:smooth
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: $font-weight-header;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

p:last-of-type {
  margin-bottom: 0;
}

.link {
  border-bottom: 0.03em solid currentColor;
}

.screenshot {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}