@import './parts/reset';
@import './parts/font';

:root {
  --color-bg: #FFF;
  --color-bg-dark: #f2f5fb;
  --color-bg-accent: #fff2de;
  --color-text: #474856;
  --color-text-light: #5A5C67;
  --color-text-accent: #FF8212;

  --font-size-global: 16px;
  --font-size-big: 1.4rem;
  --font-size-header: 1.2rem;
  --font-size-small: 0.9rem;
  --font-size-smaller: 0.8rem;

  @include breakpoint-desktop {
    --font-size-global: 20px;
  }
}

html, body {
  color: var(--color-text);
  font-size: var(--font-size-global);
  font-family: $font-stack-global;
  letter-spacing: 0.02em;
  line-height: 1.36;
  font-weight: 400;
  scroll-behavior: smooth;
}

html {
  // background: $color-bg;
  background-image: url(assets/bgtile.svg);
  background-position: center top;
  background-repeat: repeat;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: var(--font-weight-header);
}

a {
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

p:last-of-type {
  margin-bottom: 0;
}

.link {
  border-bottom: 0.03em solid currentColor;
}