
$font-stack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$font-stack-global: 'Inter UI', $font-stack-system;

$font-size-global: 20px;
$font-size-global-mobile: 16px;
$font-size-header: 1.3rem;

$font-weight-global: 500;
$font-weight-header: 500;

$line-height-global: 1.36;

$color-text: #000;
$color-text-alt: #676974;
$color-text-invert: #fff;
$color-text-invert-alt: #97a2ae;
$color-text-invert-alt2: #c1cbd7;

$color-bg: #fff;
$color-bg-alt: #E6E7EC;
$color-bg-invert: #000;
$color-bg-invert-alt: #6d6e76;

$color-brand-playdate: #ffc833;
$color-brand-playdate-device: #fbc651;

$shadow: 0px 6px 2px 0 rgb(48 50 62 / 13%), 0px 0px 3px 0 rgb(80 82 93 / 16%);
$shadow-button: 0px 6px 2px 5px rgb(48 50 62 / 13%), 0px 0px 3px 6px rgb(80 82 93 / 16%);

$wrapper-padding: 12px;
$wrapper-width: 1208px;
$tablet-wrapper-width: 832px;
$mobile-wrapper-width: 384px;
$navbar-height: 96px;

$border-radius: 24px;
$border-radius-mobile: 16px;
$padding: 28px;
$padding-mobile: 20px;

$text-size-title: 1.25rem;

@import './mixins';

@mixin panel {
  padding: $padding-mobile;
  border-radius: $border-radius-mobile;
  @include breakpoint-desktop {
    padding: $padding;
    border-radius: $border-radius;
  }
}