---
const { href, type } = Astro.props
---
<div class={['Button', type ? `Button--${type}` : ''].filter(Boolean).join(' ')}>
  <a class="Button__inner" href={ href }>
    <slot/>
  </a>
</div>

<style lang="scss">
  .Button {
    // margin: 5px;
    border-radius: 15px;
    border: 5px solid #3D3E48;
    // box-shadow: $shadow;
  }

  .Button__inner {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    cursor: pointer;
    color: #fff;
    background: #3D3E48;
    padding: 6px 14px;
    border: 3px solid #B3B5C1;
    border-right-color: #7d8091;
    border-bottom-color: #7d8091;
    border-radius: 10px;
    appearance: none;
  }

  .Button--inverted {
    border: 5px solid #FF8212;

    .Button__inner {
      color: #fff;
      background: #FF8212;
      border: 3px solid #FCD896;
      border-right-color: #FCB873;
      border-bottom-color: #FCB873;
    }
  }
</style>