---
const { name, links } = Astro.props
---
<div class="CreditsPerson">
  {Array.isArray(name) && name.map(n => (<h5 class="CreditsPerson__name">{n}</h5>))}
  {(!Array.isArray(name)) && (<h5 class="CreditsPerson__name">{name}</h5>)}
  <ul class="CreditsPerson__links">{
    links.map(({url, label}) => (
      <li class="CreditsPerson__link">
        <a href={url}>{label}</a>
      </li>
    ))}
  </ul>
  
</div>

<style lang="scss">
  .CreditsPerson {
    text-align: center;
    margin-bottom: 1em;
  }

  .CreditsPerson__name {
    font-weight: normal;
    font-size: .9rem;
  }

  .CreditsPerson__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }  

  .CreditsPerson__link {
    margin: 0;
    padding: 0;
    color: $color-text-alt;
    font-size: .8rem;
  }  
</style>