---
const { title } = Astro.props
---
<div class="CreditsColumn">
  <h5 class="CreditsColumn__title">{ title }</h5>
  <div class="CreditsColumn__body">
    <slot></slot>
  </div>
</div>

<style lang="scss">
  .CreditsColumn {

  }
</style>