---
const { title } = Astro.props
---
<div class="CreditsGroup">
  <h5 class="CreditsGroup__title">{ title }</h5>
  <div class="CreditsGroup__grid">
    <slot></slot>
  </div>
</div>

<style lang="scss">
  .CreditsGroup {
    text-align: center;
    margin-bottom: 1rem;
  }

  .CreditsGroup__title {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .CreditsGroup__grid {
    // display: grid;
    // grid-gap: 10px;
    // max-width: 900px;
    // grid-template-columns: repeat(auto-fit, 250px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .CreditsGroup__grid > :global(*) {
    // flex: 1;
    min-width: 250px;
  }
</style>