---
import Nav from '../components/Nav.astro';
---
<header class="Hero">
  <div class="Hero__head">
    <Nav></Nav>
  </div>
  <div class="Hero__body">
    <div class="Hero__wrap">
      <div class="Hero__intro">
        <h1 class="Hero__title">Playnote Studio</h1>
        <h2 class="Hero__tagline">An unofficial Flipnote animation player for the Playdate</h2>
        <button class="Hero__downloadButton Button">Download</button>
      </div>
      <div class="Hero__gfx">
        <div class="PlaydateMock"></div>
      </div>
    </div>
  </div>
  <div class="Hero__foot"></div>
</header>

<style lang="scss">
  .Hero {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    z-index: 0;

    height: 100vh;
    // clamp height
    min-height: 760px;
    max-height: 1200px;

    /* background-attachment: fixed; */
    background-position: center top;
    background-repeat: repeat;
    background-image: url('data:image/svg+xml;charset=utf8,\
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">\
        <rect x="0" y="0" width="33" height="33" fill="white" stroke-width="1" stroke-dashoffset="2" stroke-dasharray="4 4" stroke="%23B5C1CE"/>\
      </svg>\
    ');
  }

  .Hero__head {
    margin-bottom: auto;
  }

  .Hero__body {
    @include wrapper;
  }

  .Hero__wrap {
    @include grid-row;
    align-items: center;
  }

  .Hero__intro {
    @include grid-column(5, 12);
    @include grid-column-offset-right(1, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Hero__title {
     margin-bottom: .5rem;
  }

  .Hero__tagline {
    color: $color-text-alt;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: .5rem;
    max-width: 25ch;
  }

  .Hero__gfx {
    @include grid-column(6, 12);
  }

  .Hero__foot {
    margin-top: auto;
    @include wrapper;
  }

  // TODO: remove
  .PlaydateMock {
    background: #FFC430;
    width: 470px;
    height: 430px;
    border-radius: 30px;
    transform: rotateZ(16deg);
    box-shadow: 12px 24px 0 0 darken(#FFC430, 12);
  }
</style>