---
import { Icon } from 'astro-icon';

import Nav from '../components/Nav.astro';
import Player from '../components/Player.astro';
import Button from '../components/Button.astro';
---
<header class="Hero">
  <div class="Hero__head">
    <!-- <Nav/> -->
  </div>
  <div class="Hero__body">
    <div class="Hero__wrap">
      <div class="Hero__intro">
        <Icon class="Hero__logo" name="logo"/>
        <h2 class="Hero__tagline">An unofficial Flipnote animation player for the Panic Playdate</h2>
      </div>
      <div class="Hero__gfx">
        <Player/>
      </div>
      <div class="Hero__sub">
        <!-- <Button class="Hero__downloadButton" href="#download">Download</Button> -->
      </div>
    </div>
  </div>
  <div class="Hero__foot"></div>
</header>

<style lang="scss">
  .Hero {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    z-index: 0;

    height: 100vh;
    min-height: 760px;
    max-height: 1200px;
  }

  .Hero__head {
    margin-bottom: auto;
  }

  .Hero__body {
    @include wrapper;
  }

  .Hero__wrap {
    // margin-top: -$navbar-height;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    @include breakpoint-tablet {
      grid-template-columns: 1fr 1.055fr;
    }
  }

  .Hero__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include breakpoint-tablet {
      grid-column: 1;
      align-self: flex-end;
    }
  }

  .Hero__logo {
    @include breakpoint-tablet {
      // grid-column: 1;
      margin: 0 auto;
      max-width: 480px;
      margin-top: 1.5rem;
    }
  }

  .Hero__tagline {
    color: $color-text-alt;
    font-weight: normal;
    // font-weight: 600;
    font-size: $text-size-title;
    margin-top: .75rem;
    margin-bottom: .75rem;
    max-width: 25ch;
  }

  .Hero__gfx {
    @include breakpoint-tablet {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }

  .Hero__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include breakpoint-tablet {
      grid-column: 1;
      align-self: flex-start;
    }
  }

  .Hero__foot {
    margin-top: auto;
    @include wrapper;
  }
</style>