---
import Button from './Button.astro'
---
<nav class="NavBar">
  <div class="NavGroup NavGroup--left">
    <div class="NavMenuToggle">menu</div>
    <ul class="NavMenu">
      <li class="NavMenu__item">
        <a class="NavMenu__link" href="#features">Features</a>
      </li>
      <li class="NavMenu__item">
        <a class="NavMenu__link" href="#download">Download</a>
      </li>
      <li class="NavMenu__item">
        <a class="NavMenu__link" href="#faqs">FAQs</a>
      </li>
      <li class="NavMenu__item">
        <a class="NavMenu__link" href="#credits">Credits</a>
      </li>
      <li class="NavMenu__item">
        <a class="NavMenu__link" href="/filehelp">Help</a>
      </li>
    </ul> 
  </div>
  <div class="NavGroup NavGroup--right">
    <ul class="NavMenu">
      <li class="NavMenu__item">
        <a class="NavMenu__link" href="https://github.com/jaames/playnote-studio">Source Code</a>
      </li>
    </ul>
    <!-- <div class="NavItem LangMenu">
      <div class="LangMenu__button">
        <span class="LangMenu__label">English</span> v
      </div>
      <ul class="LangMenu__list LangMenu__list--hidden">
        <li class="LangMenu__item" data-lang="en">English</li>
        <li class="LangMenu__item" data-lang="jp">Japanese</li>
      </ul>
    </div> -->
  </div>
</nav>

<script>
  const navMenu = document.querySelector('.NavMenu');
  const navToggle = document.querySelector('.NavMenuToggle');

  navToggle.addEventListener('click', function() {
    navMenu.classList.toggle('NavMenu--isOpen');
    navToggle.classList.toggle('NavMenuToggle--isActive');
  });
</script>

<style lang="scss">
  .NavBar {
    @include wrapper;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .NavGroup {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .NavGroup--left {
    margin-right: auto;
  }
  .NavGroup--right {
    margin-left: auto;
  }

  .NavMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoint-phone-only {
      position: absolute;
      top: $navbar-height;
      display: none;

      &.NavMenu--isOpen {
        display:block;
      }
    }
  }

  .NavMenuToggle {
    cursor: pointer;
    display: none;

    @include breakpoint-phone-only {
      display: block;
    }

    &.NavMenuToggle--isActive {
      // TODO
    }
  }

  .NavMenu__item {
    margin-left: 16px;
    // font-weight: bold;

    @include breakpoint-phone-only {
      height: $navbar-height;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
  .NavMenu__item:first-of-type {
    margin-left: 0;
  }

  .NavMenu__link {
    display: inline-block;
  }
</style>
