<div class="Panel">
  <div class="Panel__inner">
    <slot/>
  </div>
</div>

<style lang="scss">
  .Panel {
    border-radius: 24px;
    background: white;
    border: 8px solid white;
  }

  .Panel__inner {
    border: 1px dashed #B5C1CE;
    border-radius: 20px;
    padding: 40px;
    color: #3A3E43;
  }
</style>