---
import { Icon } from 'astro-icon';

const size = 590;
const pxSize = `${size}px`;
---
<div class="Demo">
  <div class="Demo__wrapper">
    <div class="Demo__crankHint is-hidden">
      <p class="Demo__crankHintText">Psssst!<br/>Try turning<br/>the crank!</p>
      <Icon class="Demo__crankHintArrow" name="crankhint_arrow"/>
    </div>
    <canvas class="Demo__canvas"></canvas>
    <video muted playsinline preload="auto" class="Demo__video"></video>
    <img class="Demo__image" width={size} height={size} srcset="/assets/playdate_1x.png, /assets/playdate_2x.png 2x" src="/assets/playdate_1x.png" alt="">
  </div>
  <div class="Demo__overlay">
    <div class="Demo__credit">
      Flipnote by <a class="Demo__creditLink" href="https://twitter.com/pekira1227">ぺきら</a>
    </div>
    <div class="Demo__controls">
      <div class="Demo__muteToggle">
        <Icon class="Demo__muteToggleIcon Demo__muteToggleOn" name="icon_volume_on"></Icon>
        <Icon class="Demo__muteToggleIcon Demo__muteToggleOff" name="icon_volume_off"></Icon>
      </div>
      <div class="Demo__playToggle">
        <Icon class="Demo__playToggleIcon Demo__playTogglePlay" name="icon_play"></Icon>
        <Icon class="Demo__playToggleIcon Demo__playTogglePause" name="icon_pause"></Icon>
      </div>
    </div>
  </div>
</div>

<script async hoist type="module">
  import '/src/demo/player.ts';
</script>

<style lang="scss" define:vars={{ pxSize }}>
  .Demo {
    // height: var(--pxSize);
    @include user-select(none);
  }

  .Demo__wrapper {
    @include aspect('1 / 1');
    touch-action: none;
    width: 100%;
    max-width: var(--pxSize);
    // height: var(--pxSize);
    position: relative;
    z-index: 0;
  }

  .Demo__crankHint {
    color: $color-text-alt;
    font-size: 14px;
    opacity: 1;
    transition: opacity .5s linear;
    position: absolute;
    transform: scale(0.8);
    top: -10px;
    right: -35px;

    @include breakpoint-tablet {
      transform: scale(0.9);
      top: 5px;
      right: -35px;
    }

    @include breakpoint-desktop {
      transform: none;
      top: 40px;
      right: -20px;
    }

    &.is-hidden {
      opacity: 0;
    }

    .Demo__crankHintText {
      width: 12ch;
      transform: rotate(-7deg);
    }

    .Demo__crankHintArrow {
      transform: translate(30px, -12px);
      width: 23px;
      height: 85px;
    }
  }

  .Demo__canvas {
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  .Demo__video {
    height: 100%;
    position: absolute;
    z-index: 2;
  }

  .Demo__image {
    position: absolute;
    z-index: 1;
    // image fades out when video+webgl loads in to prevent flashing in safari
    opacity: 1;
    transition: opacity .5s linear;
    .Demo--isActive & {
      opacity: 0;
    }
  }

  .Demo__overlay {
    z-index: 10;
    font-size: 14px;
    display: flex;
    margin-left: 50px;
    margin-top: -50px;

    @include breakpoint-tablet {
      margin-left: 50px;
      margin-top: -60px;
    }

    @include breakpoint-desktop {
      margin-left: 70px;
      margin-top: -90px;
    }
  }

  .Demo__credit {
    z-index: 10;
    transform: rotate(3deg);
  }

  .Demo__creditLink {
    color: black;
    font-weight: bold;
    border-bottom: 0.1em solid currentColor;
  }

  .Demo__controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    margin-right: 75px;
    margin-top: -55px;
    margin-bottom: 55px;

    @include breakpoint-tablet {
      margin-right: 85px;
      margin-top: -55px;
      margin-bottom: 55px;
    }

    @include breakpoint-desktop {
      margin-right: 145px;
      margin-top: -50px;
      margin-bottom: 50px;
    }

    .Demo:hover & {
      opacity: 1;
    }

    .Demo--isInteractionActive & {
      opacity: 1;
    }
  }

  .Demo__playToggle {
    z-index: 10;
    cursor: pointer;
    margin-bottom: -7px;
  }

  .Demo__playToggleIcon {
    cursor: pointer;
    width: 64px;
    height: 64px;
  }

  .Demo__playTogglePlay {
    .Demo--isPlaying & {
      display: none;
    }
  }

  .Demo__playTogglePause {
    display: none;
    .Demo--isPlaying & {
      display: block;
    }
  }

  .Demo__muteToggle {
    z-index: 10;
    cursor: pointer;
  }

  .Demo__muteToggleIcon {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .Demo__muteToggleOn {
    .Demo--isMuted & {
      display: none;
    }
  }

  .Demo__muteToggleOff {
    display: none;
    .Demo--isMuted & {
      display: block;
    }
  }

</style>
